#image-container, #description-container {
    width: 600px;
    margin: 10px;
    overflow: hidden;
}

#grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#description-container {
    background-color: rgba(248, 188, 110, 0.957);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 20px black;
}

#description-container p {
    font-size: 20px;
}

#project-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-links img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#image-container img {
    width: 600px;
    height: 400px;
    object-fit: scale-down;
}

@media screen and (max-width: 650px) {
    #image-container img {
        width: 100%;
        object-fit: scale-down;
    }
    #image-container {
        height:min-content;
    }
}