#skill-container {
    margin: 20px auto;
    width: 650px;
    background-color: rgba(255, 255, 255, 0.909);
    border-radius: 10px;
    color: rgb(25, 25, 25);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
    #skill-container {
        width: 95%;
    }
}

.icon-container {
    text-align: center;
    width: 85px;
    height: 85px;
    margin: 10px 5px;
}

.icon-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.icon-title {
    margin: 0;
}