#about-container {
    width: 650px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.895);
    border-radius: 15px;
    margin: 20px auto;
}

#my-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid rgb(76, 38, 113);
    border-radius: 50%;
    float: left;
}

#about-name-title {
    width: 400px;
    height: 200px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-name {
    font-size: 30px;
    color: rgba(248, 188, 110, 0.957);
    margin: 0;
}

#my-title {
    font-size: 25px;
    color: rgb(221, 221, 221);
}

#my-brand {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(170, 170, 170);
}

@media screen and (max-width: 650px) {
    #about-container {
        width: 95%;
    }
    #about-name-title {
        height: 100%;
        margin: 0 auto;
        float: none;
    }
    #my-img {
        float: none;
    }
}