#nav-container {
    background-color: rgba(248, 188, 110, 0.957);
    text-align: center;
    z-index: 1;
}

#nav-container > * {
    padding: 20px;
    font-size: 20px;
    color:black;
    display:inline-flex;
}

#nav-container > *:hover {
    color: white;
    text-shadow: 0 0 4px black;
}

@media screen and (max-width: 650px) {
    #nav-container > * {
        display: block;
        font-size: 25px;
        align-content: center;
        border: 2px solid rgba(0, 0, 0, 0.299);
    }
}