* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#bg-container {
  position: absolute;
  width: 100%;
}

#bg-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/logs.jpeg');
  filter: blur(2px);
  z-index: -5;
}

#main-container {
  margin: 15px auto;
  width: 100%;
  height: 100%;
  text-align: center;
}


